#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: peru;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

.no-mobile__bubble {
  position: relative;
}

#no-mobile * {
  animation: shake-vertical 2s infinite;
}

.no-mobile__bubble span {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 60px;
  left: 25px;
  color: black;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
